version: '3'
services:
  python3:
    restart: always
    build: .
    container_name: 'python3'
    working_dir: '/root/'
    tty: true
    privileged: true
    volumes:
      - .:/app
      - C:\Users\sprin\OneDrive:/mnt/OneDrive
    restart: "no"
