version: '3.2'
services:
  web:
    build: .
    ports:
      - '4000:4000'
      - '23:23'
#   command: mix phx.server
    environment:
      - MIX_ENV=dev
      - PORT=4000
    volumes:
      - .:/app
      - ~/OneDrive:/OneDrive
    restart: "no"

  db:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - "23:23"
    restart: "no"

